@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

/* ANIMACIONES */

@keyframes drawLoop {
  0% {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
  }
  40% {
    stroke-dashoffset: 0;
  }
  70% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 100;
  }
}

@keyframes pulseSoft {
  0%,100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}

@keyframes tapFinger {
  0%,100% {
    transform: translateY(0) scale(1);
  }
  40% {
    transform: translateY(4px) scale(0.95);
  }
  60% {
    transform: translateY(0) scale(1);
  }
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  40% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.15);
  }
}